includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    bootstrapFiles:
      - phpstan-bootstrap.php
    scanDirectories:
      - ./
    ignoreErrors:
      # False positive as __() function can accept more than 2 parameters.
      - '/Cannot call method enableHydration\(\) on array\|Cake\\ORM\\Query./'
      - '/Cannot call method join\(\) on array\|Cake\\ORM\\Query./'
